body {
    background-color: black;
    background-image: linear-gradient(to right, goldenrod , coral, teal);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', 'sans-serif';
}
a, p{
    text-decoration:none;
    color: white;
    font-size: 150%;
    display:block;
}
img {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}
.title {
    font-size: 300%;
    width: 100%;
    text-align: center;
    color:yellow;
    padding: 0% 0% 0% 0%;
    margin: 0% 0% 5% 0%;
}
.menuoption {
    display: block;
    border:none;
    border-radius: 4px;
    padding: 1% 2% 1% 5%;
    width: 25%;
    color: white;
    text-align: center;
    border-style: solid;
    margin: 0% 5% 1.5% 35%;
}
#err {
    color: red;
    text-align: center;
}
#discordinv{
    border-color: rgb(2, 2, 173);
    background-color: blue;
    box-shadow: 0px 0px 70px blue; 
}
#staffapp{
    border-color: rgb(0, 95, 0);
    background-color: green;
    box-shadow: 0px 0px 70px green; 
}
#plugindoc{
    border-color: rgb(187, 122, 1);
    background-color: orange;
    box-shadow: 0px 0px 70px orange;
}
#logout{
    border-color: rgb(182, 2, 2);
    background-color: red;
    box-shadow: 0px 0px 70px red; 
}